<div class="nested-fields">
   <div class="field">
     <%= f.label :children_name %> <%= f.text_field :children_name %>
   </div>
   <div class="field">
     <%= f.label :children_aadhar_number %> <%= f.text_field :children_aadhar_number %>
   </div>
   <div class="field">
     <%= f.label :children_bdate %> <%= f.text_field :children_bdate %>
   </div>

   <div class="actions">
     <%= f.submit %>
   </div>
 </div>