<div class="nested-fields">
 <div class="row field ">
 	<div class = 'col-xs-4 col-md-4'>
	   <%= f.label :children_name %><br>
	   <%= f.label :children_aadhar_number %><br>
	   <%= f.label :children_birthdate %>
	   
	</div>
	<div class = 'col-xs-4 col-md-4'>
		<%= f.text_field :children_name %>
		<%= f.text_field :children_aadhar_number %>
		<%= f.text_field :children_birthdate, class: "datepicker"%>
	</div>
 </div>
 
<div class="row field ">
	<%= f.fields_for :documents do |document| %>
		<%= render 'document_fields', f: document%>
	<% end %>
	<div class="links">
		<%= link_to_add_association "Add Attachment", f, :documents %>
	</div>
 </div>
 <%= link_to_remove_association "Remove Child", f, data:{confirm: 'Really remove Chils?'}%>
</div>


