<%= form_with scope: :user,url: users_path, local: true do |form| %>

	<p>
	<%= form.label :Name %><br>
	<%= form.text_field :name %>
	</p>
	<p>
	<%= form.label :Aadhar_Number %><br>
	<%= form.text_field :aadhar_number %>
	</p>
	<p>
	<%= form.label :Birthdate %><br>
	<%= form.text_field :bdate, class: "datepicker"  %>
	</p>
	<p>
	<%= form.label :Father_name %><br>
	<%= form.text_field :father_name %>
	</p>
	<%= form.label :Father_Aadhar_Number %><br>
	<%= form.text_field :father_aadhar_number %>
	</p>
	<p>
	<%= form.label :Father_Birthdate %><br>
	<%= form.text_field :father_bdate, class: "datepicker"  %>
	</p>
	<p>
	<%= form.label :Mother_name %><br>
	<%= form.text_field :mother_name %>
	</p>
	<%= form.label :Mother_Aadhar_Number %><br>
	<%= form.text_field :mother_aadhar_number %>
	</p>
	<p>
	<%= form.label :Mother_Birthdate %><br>
	<%= form.text_field :mother_bdate, class: "datepicker"  %>
	</p>
	<p>
	<%= form.label :Children %><br>
	<%= form.text_field :children %>
	</p>
	<%= form.label :Children_Aadhar_Number %><br>
	<%= form.text_field :children_aadhar_number %>
	</p>
	<p>
	<%= form.label :Children_Birthdate %><br>
	<%= form.text_field :children_bdate, class: "datepicker"  %>
	</p>


	<p>
	<%= form.submit %>
	</p>
	<% end %>
