<p>
  <strong>Children Name:</strong>
  <%= @children.children_name%>
</p>
<p>
  <strong>Children's Aadhar Number:</strong>
  <%= @children.children_aadhar_number %>
</p>
<p>
  <strong>Children's Birth Date :</strong>
  <%= @children.children_birthdate %>
</p>
<p>
  <strong>Children's Father Name:</strong>
  <%= @user.user_name %>
</p>
<p>
  <strong>Children's Grandfather's Name :</strong>
  <%= @user.father_name %>
</p>
<p>
  <strong>Children's Grandmother's Name :</strong>
  <%= @user.mother_name %>
</p>

<p>
  <strong>Children's Attachments :</strong>
  <%@document.each do |attr_name|%>
    <% if attr_name.attachment.exists? %>
    <%= image_tag attr_name.attachment.url(:thumb) %>
  <% end %>
    <%= attr_name.attachment_file_name%>

  <%end%>
</p>

<%= link_to 'Back', user_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %>