<p>
  <strong>Father Name:</strong>
  <%= @user.father_name %>
</p>
<p>
  <strong>Father's Aadhar Number:</strong>
  <%= @user.father_aadhar_number %>
</p>
<p>
  <strong>Father's Birth Date :</strong>
  <%= @user.father_birthdate %>
</p>
<p>
  <strong>Father's Attachments :</strong>
  <%@document.each do |attr_name|%>
  	<% if attr_name.attachment.exists? %>
		<%= image_tag attr_name.attachment.url(:thumb) %>
	<% end %>
  	<%= attr_name.attachment_file_name%>

	<%end%>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', user_path(@user) %>