<div class="text-center">
  <%= render 'logout' %>
  <h1>Listing Users</h1>
   
  <table class="table table-hover text-centered">
    <tr>
      <th>Name</th>
    </tr> 
    <tr>
      <td><%= link_to current_user.name, user_path(current_user) %></td>
      <td><%= link_to 'Show', user_path(current_user), :class => "button btn btn-default btn-xs" %></td>
      <td><%= link_to 'Edit', edit_user_path(current_user), :class => "button btn btn-default btn-xs" %></td>
      <td><%= link_to 'Destroy', user_path(current_user),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, :class => "button btn btn-default btn-xs" %></td>
    </tr>
  </table>



  <%= will_paginate @users %>
</div>