<p>
  <strong>Mother Name:</strong>
  <%= @user.mother_name %>
</p>
<p>
  <strong>Mother's Aadhar Number:</strong>
  <%= @user.mother_aadhar_number %>
</p>
<p>
  <strong>Mother's Birth Date :</strong>
  <%= @user.mother_bdate %>
</p>

<%= link_to 'Back', user_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %>