<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Aadhar No :</strong>
  <%= @user.aadhar_number %>
</p>
<p>
  <strong>Birth Date :</strong>
  <%= @user.bdate %>
</p>
 
<p>
  <strong>Father Name:</strong>
  <%= link_to @user.father_name, father_path(:user_id => @user.id) %>
</p>

<p>
  <strong>Mother Name:</strong>
  <%= link_to @user.mother_name, mother_path(:user_id => @user.id) %>
</p>

<p>
  <strong>Children Name:</strong>
  <%= link_to @user.children, children_path(:user_id => @user.id) %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>