<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Aadhar No:</strong>
  <%= @user.aadhar_number %>
</p>
<p>
  <strong>Birth Date:</strong>
  <%= @user.bdate %>
</p>
 
<p>
  <strong>Father Name:</strong>
  <%= @user.father_name %>
</p>
<p>
  <strong>Mother Name:</strong>
  <%= @user.mother_name %>
</p>


<%= link_to 'Back', users_path %>