<p>
  <strong>Father Name:</strong>
  <%= @user.father_name %>
</p>
<p>
  <strong>Father's Aadhar Number:</strong>
  <%= @user.father_aadhar_number %>
</p>
<p>
  <strong>Father's Birth Date :</strong>
  <%= @user.father_bdate %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', user_path(@user) %>